* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background: rgb(145, 50, 41);
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-left: 46px;
    padding-top: 15px;
    margin-bottom: 90px;
}

.image {
    content: url(./bookmark-removebg-preview.png);
    position: absolute;
    width: 109px;
    right: 3%;
    top: -.8%;
    margin: -28px;
}

body {
    /* background-color: rgb(83, 83, 189); */
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: rgb(145, 50, 41);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.popupHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popupHeader .bookInfo {
    font-size: 1.25rem;
    font-weight: bold;
}

.popupHeader .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.formBody {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#add {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;     
}

#add:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

.cardDiv {
    border: 1px solid black;
    margin: 40px;
    padding-top: 20px;
    background-color: rgb(145, 50, 41);
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}

.cardDiv:hover {
    box-shadow: 0px 0px 3px 3px gold;
}

#cardId {
    font-size: 41px;
    font-style: italic;
    color: gold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.paraOneClass {
    font-size: 32px !important;
    margin-top: 20px !important;
}

#para {
    margin: 30px;
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#para:hover {
    color: gold;
}

#readStat {
    color: white;
    border: 1px solid black;
    background-color: rgb(136, 22, 22);
    display: inline-block;
    width: 50%;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

#removeButton {
    color: white;
    border: 1px solid black;
    background-color: rgb(60, 65, 87);
    display: inline-block;
    width: 50%;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}